* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: lightgrey;
    border-bottom: 1px solid darkgrey;
}

/* CLASSI DI LAYOUT */

.container-full {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    max-width: 990px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.col-25 {
    width: calc(25% - 5px);
    background-color: rgba(112, 0, 0, 0.579);
    border: 1px solid black;
    height: 100px;
}

.col-50 {
    width: calc(50% - 10px);
    background-color: rgba(112, 0, 0, 0.579);
    border: 1px solid black;
    height: 300px;
}

.col-75 {
    width: calc(75% - 5px);
    background-color: rgba(255, 179, 65, 0.497);
    border: 1px solid black;
    height: 100px;
}

.col-100 {
    width: 100%;
    background-color: rgba(112, 0, 0, 0.579);
    border: 1px solid black;
    height: 300px;
}

.col-33 {
    width: calc(100% / 3 - 10px);
    background-color: rgba(112, 0, 0, 0.579);
    border: 1px solid black;
    height: 300px;
}

.col-25 {
    width: calc(25% - 10px);
    background-color: rgba(112, 0, 0, 0.579);
    border: 1px solid black;
    height: 300px;
}

.col-16 {
    width: calc(100% / 6 - 10px);
    background-color: rgba(112, 0, 0, 0.579);
    border: 1px solid black;
    height: 300px;
}

.no-gutter {
    gap: 0px;
}

/* STYLING CLASSES */

.my-30 {
    margin: 30px 0;
}

.bg-darkblue {
    background-color: darkblue;
    padding: 30px 0px;
}